.il-2a4cda41 { color:#f59e0b; }
.il-fa3e1c7d { margin-bottom:12px; }
.il-c538b2a3 { display:flex; gap:6px; font-size:26px; color:#f59e0b; margin-bottom:12px; cursor:pointer; }
.il-6d567387 { width:100%; }
