.il-52231de4 { box-shadow: none !important; }
.il-cbbb73d4 { color: var(--primary); }
.il-26590802 { cursor: pointer; }
.il-508369ae { color: var(--text); }
.il-21e3461b { cursor: pointer; background: transparent !important; border-bottom: 1px solid var(--border) !important; }
.il-2c23fa34 { color: var(--text); max-width: 180px; }
