.il-b202c6d4 { cursor:pointer; }
.il-a56723b6 { width:100%; height:100%; object-fit:cover; border-radius:50%; }
.il-c451fdb0 { position:relative; }
.il-ea2acee0 { opacity:.4; cursor:not-allowed; }
.il-ac526fec { background:rgba(99,102,241,.12); }
.il-92296b57 { color:#818cf8; }
.il-e7ec5403 { margin-bottom:0; }
.il-3af417df { background:rgba(245,158,11,.1); }
.il-38288887 { color:#fbbf24; }
.il-310b5d97 { border-bottom:none; }
.il-af97e19a { background:rgba(239,68,68,.1); }
.il-124741b6 { color:#f87171; }
.il-95482093 { border-color:rgba(239,68,68,.3); color:#f87171; }
.il-ac30e952 { background:#ef4444; border-color:#ef4444; }
.il-da5cd676 { flex:1; }
.il-cb458930 { display: none; }
